{% extends "base.html" %}

{% block title %}DVA{% endblock %}

{% block content %}
<p><a href="/dva">DVA</a></p>
<p>=== Результаты Dollar Value Averaging (DVA) ===</p>
<table>
    <tbody>
        <tr>
            <td>Периодов</td>
            <td>{{ data.periods }}</td>
        </tr>
        <tr>
            <td>Целевой прирост за период</td>
            <td>{{ data.target_increment }}</td>
        </tr>
        <tr>
            <td>Комиссия</td>
            <td>{{ data.commission_rate }}</td>
        </tr>
        <tr>
            <td>Общая сумма покупок</td>
            <td>{{ data.total_gross_spent }}</td>
        </tr>
        <tr>
            <td>Общая сумма продаж</td>
            <td>{{ data.total_gross_received }}</td>
        </tr>
        <tr>
            <td>Чисто инвестировано (нетто)</td>
            <td>{{ data.net_invested }}</td>
        </tr>
        <tr>
            <td>Конечное количество актива</td>
            <td>{{ data.final_asset_amount }}</td>
        </tr>
        <tr>
            <td>Начальная цена</td>
            <td>{{ data.start_price }}</td>
        </tr>
        <tr>
            <td>Конечная цена</td>
            <td>{{ data.final_price }}</td>
        </tr>
        <tr>
            <td>% Роста</td>
            <td>{{ data.bnh }}</td>
        </tr>

        <tr>
            <td>Конечная стоимость</td>
            <td>{{ data.final_value }}</td>
        </tr>
        <tr>
            <td>Чистая прибыль/убыток</td>
            <td>{{ data.profit }}</td>
        </tr>
        <tr>
            <td>Доходность (ROI)</td>
            <td>{{ data.roi }}</td>
        </tr>
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}