{% extends "base.html" %}

{% block title %}WebAggregator{% endblock %}

{% block content %}
<main>
  <section>
    <article>
      <header>
        <h1>Links</h1>
      </header>
      <p><a href="/tickers">Tickers</a></p>
      <p><a href="/currencies">Currencies</a></p>
      <p><a href="/symbols">Symbols</a></p>
      <p><a href="/pg">pg</a></p>
      <p><a href="/events">events</a></p>
      <p><a href="/errors">errors</a></p>
      <p><a href="/balance">balance</a></p>
      <p><a href="/activeorder">activeorder</a></p>
      <p><a href="/eventorder">eventorder</a></p>
      <p><a href="/positiondebt">positiondebt</a></p>
      <p><a href="/positionasset">positionasset</a></p>
      <p><a href="/positionratio">positionratio</a></p>
      <p><a href="/tradeable">tradeable</a></p>
      <p><a href="/symbol_trade">symbol trade</a></p>
      <p><a href="/msgevent">msgevent</a></p>
      <p><a href="/msgsend">msgsend</a></p>
      <p><a href="/bots">bots</a></p>
  </section>
</main>
{% endblock %}