{% extends "base.html" %}

{% block title %}Event Orders{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<p>Event orders</p>
<table>
    <thead>
        <tr>
            <th>exchange</th>
            <th>asset_symbol</th>
            <th>asset_total</th>
            <th>asset_available</th>
            <th>asset_hold</th>
            <th>updated_at</th>
        </tr>
    </thead>
    <tbody>
        {% for position in position_asset %}
        <tr>
            <td>{{ position.exchange }}</td>
            <td>{{ position.asset_symbol }}</td>
            <td>{{ position.asset_total }}</td>
            <td>{{ position.asset_available }}</td>
            <td>{{ position.asset_hold }}</td>
            <td>{{ position.updated_at }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}