{% extends "base.html" %}

{% block title %}Position Ratio{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<p>Position ratio</p>
<table>
    <thead>
        <tr>
            <th>updated_at</th>
            <th>exchange</th>
            <th>debt_ratio</th>
            <th>total_asset</th>
            <th>margin_coefficient_total_asset</th>
            <th>total_debt</th>
        </tr>
    </thead>
    <tbody>
        {% for position in position_ratio %}
        <tr>
            <td>{{ position.updated_at }}</td>
            <td>{{ position.exchange }}</td>
            <td>{{ position.debt_ratio }}</td>
            <td>{{ position.total_asset }}</td>
            <td>{{ position.margin_coefficient_total_asset }}</td>
            <td>{{ position.total_debt }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}