{% extends "base.html" %}

{% block title %}Errors{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<p>errors</p>
<table>
    <thead>
        <tr>
            <th>exchange</th>
            <th>msg</th>
        </tr>
    </thead>
    <tbody>
        {% for error in errors %}
        <tr>
            <td>{{ error.exchange }}</td>
            <td>{{ error.msg }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}