{% extends "base.html" %}

{% block title %}Borrow{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>exchange</th>
            <th>currency</th>
            <th>hourly_borrow_rate</th>
            <th>annualized_borrow_rate</th>
        </tr>
    </thead>
    <tbody>
        {% for (index, borrow) in borrows %}
        <tr>
            <td>{{ index }}</td>
            <td>{{ borrow.exchange }}</td>
            <td><a href="/borrow/{{ borrow.currency }}">{{ borrow.currency }}</a></td>
            <td>{{ borrow.hourly_borrow_rate }}</td>
            <td>{{ borrow.annualized_borrow_rate }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}