{% extends "base.html" %}

{% block title %}PG{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<p>pg_stats_connections</p>
<table>
    <thead>
        <tr>
            <th>total_connections</th>
            <th>active_connections</th>
        </tr>
    </thead>
    <tbody>
        {% for connection in pg_stats_connections %}
            <tr>
                <td>{{ connection.total_connections }}</td>
                <td>{{ connection.active_connections }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>pg_stats_table_info</p>
<table>
    <thead>
        <tr>
            <th>schemaname</th>
            <th>relname</th>
            <th>seq_scan</th>
            <th>seq_tup_read</th>
            <th>idx_scan</th>
            <th>idx_tup_fetch</th>
            <th>n_tup_ins</th>
            <th>n_tup_upd</th>
            <th>n_tup_del</th>
            <th>n_live_tup</th>
            <th>n_dead_tup</th>
        </tr>
    </thead>
    <tbody>
        {% for table_info in pg_stats_table_info %}
        <tr>
            <td>{{ table_info.schemaname }}</td>
            <td>{{ table_info.relname }}</td>
            <td>{% if let Some(seq_scan) = table_info.seq_scan %}{{ seq_scan }}{% endif %}</td>
            <td>{% if let Some(seq_tup_read) = table_info.seq_tup_read %}{{ seq_tup_read }}{% endif %}</td>
            <td>{% if let Some(idx_scan) = table_info.idx_scan %}{{ idx_scan }}{% endif %}</td>
            <td>{% if let Some(idx_tup_fetch) = table_info.idx_tup_fetch %}{{ idx_tup_fetch }}{% endif %}</td>
            <td>{% if let Some(n_tup_ins) = table_info.n_tup_ins %}{{ n_tup_ins }}{% endif %}</td>
            <td>{% if let Some(n_tup_upd) = table_info.n_tup_upd %}{{ n_tup_upd }}{% endif %}</td>
            <td>{% if let Some(n_tup_del) = table_info.n_tup_del %}{{ n_tup_del }}{% endif %}</td>
            <td>{% if let Some(n_live_tup) = table_info.n_live_tup %}{{ n_live_tup }}{% endif %}</td>
            <td>{% if let Some(n_dead_tup) = table_info.n_dead_tup %}{{ n_dead_tup }}{% endif %}</td>
        </tr>
        {% endfor %}        
    </tbody>
</table>

<p>pg_stats_table_index</p>
<table>
    <thead>
        <tr>
            <th>schemaname</th>
            <th>relname</th>
            <th>idx_scan</th>
            <th>idx_tup_read</th>
            <th>idx_tup_fetch</th>
        </tr>
    </thead>
    <tbody>
        {% for table_index in pg_stats_table_index %}
            <tr>
                <td>{{ table_index.schemaname }}</td>
                <td>{{ table_index.relname }}</td>
                <td>{% if let Some(idx_scan) = table_index.idx_scan %}{{ idx_scan }}{% endif %}</td>
                <td>{% if let Some(idx_tup_read) = table_index.idx_tup_read %}{{ idx_tup_read }}{% endif %}</td>
                <td>{% if let Some(idx_tup_fetch) = table_index.idx_tup_fetch %}{{ idx_tup_fetch }}{% endif %}</td>
            </tr>
        {% endfor %}        
    </tbody>
</table>

<p>pg_stat_statements</p>
<table>
    <thead>
        <tr>
            <th>query</th>
            <th>calls</th>
            <th>total_exec_time</th>
            <th>mean_exec_time</th>
            <th>rows</th>
        </tr>
    </thead>
    <tbody>
        {% for stat_statements in pg_stat_statements %}
        <tr>
            <td>{{ stat_statements.query }}</td>
            <td>{% if let Some(calls) = stat_statements.calls %}{{ calls }}{% endif %}</td>
            <td>{% if let Some(total_exec_time) = stat_statements.total_exec_time %}{{ total_exec_time }}{% endif %}</td>
            <td>{% if let Some(mean_exec_time) = stat_statements.mean_exec_time %}{{ mean_exec_time }}{% endif %}</td>
            <td>{% if let Some(rows) = stat_statements.rows %}{{ rows }}{% endif %}</td>
        </tr>
        {% endfor %}        
    </tbody>
</table>

<p>pg_stat_table_size</p>
<table>
    <thead>
        <tr>
            <th>schemaname</th>
            <th>relname</th>
            <th>total_size</th>
            <th>table_size</th>
            <th>indexes_size</th>
        </tr>
    </thead>
    <tbody>
        {% for stat_table_size in pg_stat_table_size %}
        <tr>
            <td>{{ stat_table_size.schemaname }}</td>
            <td>{{ stat_table_size.relname }}</td>
            <td>{{ stat_table_size.total_size }}</td>
            <td>{{ stat_table_size.table_size }}</td>
            <td>{{ stat_table_size.indexes_size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}