{% extends "base.html" %}

{% block title %}Bots{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<p>Init: {{ init_balance }}</p>
<p>Final: {{ final_balance }}</p>
<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>updated_at</th>
            <th>exchange</th>
            <th>balance</th>
            <th>entry_client_oid</th>
            <th>exit_tp_order_id</th>
            <th>exit_tp_client_oid</th>
            <th>exit_sl_order_id</th>
            <th>exit_sl_client_oid</th>
            <th>symbol</th>
        </tr>
    </thead>
    <tbody>
        {% for (index, bot) in bots %}
        <tr>
            <td>{{ index }}</td>
            <td>{{ bot.updated_at }}</td>
            <td>
                {% if let Some(exchange) = bot.exchange %}
                {{ exchange }}
                {% endif %}
            </td>
            <td>
                {% if let Some(balance) = bot.balance %}
                {{ balance }}
                {% endif %}
            </td>
            <td>
                {% if let Some(entry_client_oid) = bot.entry_client_oid %}
                {{ entry_client_oid }}
                {% endif %}
            </td>
            <td>
                {% if let Some(exit_tp_order_id) = bot.exit_tp_order_id %}
                {{ exit_tp_order_id }}
                {% endif %}
            </td>
            <td>
                {% if let Some(exit_tp_client_oid) = bot.exit_tp_client_oid %}
                {{ exit_tp_client_oid }}
                {% endif %}
            </td>
            <td>
                {% if let Some(exit_sl_order_id) = bot.exit_sl_order_id %}
                {{ exit_sl_order_id }}
                {% endif %}
            </td>
            <td>
                {% if let Some(exit_sl_client_oid) = bot.exit_sl_client_oid %}
                {{ exit_sl_client_oid }}
                {% endif %}
            </td>
            <td>
                {% if let Some(symbol) = bot.symbol %}
                {{ symbol }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}