{% extends "base.html" %}

{% block title %}Sma{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>symbol</th>
        </tr>
    </thead>
    <tbody>
        {% for (index, symbol) in symbols %}
        <tr>
            <td>{{ index }}</td>
            <td><a href="/sma/{{ symbol.symbol }}">{{ symbol.symbol }}</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}