{% extends "base.html" %}

{% block title %}Sma {{ symbol_name }}{% endblock %}

{% block content %}
<p><a href="/sma">Sma</a></p>
<table border="1">
    <thead>
        <tr>
            <th>Period</th>
            <th>Total profit</th>
            <th>Profit percentage</th>
            <th>Trades count</th>
            <th>Winning trades</th>
        </tr>
    </thead>
    <tbody>
        {% for sma in sma_result %}
        <tr>
            <td>{{ sma.period }}</td>
            <td>{{ sma.total_profit }}</td>
            <td>{{ sma.profit_percentage }}</td>
            <td>{{ sma.trades_count }}</td>
            <td>{{ sma.winning_trades }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}