<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="/favicon.png" type="image/png">
    <title>HTML5 Test Page</title>
    <link rel="stylesheet" href="/static/style.css">
</head>

<body>
    <table border="1">
        <thead>
            <tr>
                <th>created_at</th>
                <th>symbol</th>
                <th>symbol_name</th>
            </tr>
        </thead>
        <tbody>
            {% for ticker in tickets %}
            <tr>
                <td>{{ ticker.created_at }}</td>
                <td>{{ ticker.symbol }}</td>
                <td>{{ ticker.symbol_name }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>