{% extends "base.html" %}

{% block title %}Active Orders{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<p>Active orders</p>
<table>
    <thead>
        <tr>
            <th>updated_at</th>
            <th>exchange</th>
            <th>order_id</th>
            <th>symbol</th>
            <th>side</th>
            <th>price</th>
            <th>size</th>
        </tr>
    </thead>
    <tbody>
        {% for order in active_orders %}
        <tr>
            <td>{{ order.updated_at }}</td>
            <td>{{ order.exchange }}</td>
            <td>{{ order.order_id }}</td>
            <td>{{ order.symbol }}</td>
            <td>{{ order.side }}</td>
            <td>{{ order.price }}</td>
            <td>{{ order.size }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}