{% extends "base.html" %}

{% block title %}Strategy{% endblock %}

{% block content %}
<p><a href="/strategy">Strategy</a></p>
<p>Total profit {{ total.total }}</p>
<table border="1">
    <thead>
        <tr>
            <th>position</th>
            <th>exchange</th>
            <th>symbol</th>
            <th>interval</th>
            <th>timestamp</th>
            <th>open</th>
            <th>high</th>
            <th>low</th>
            <th>close</th>
            <th>volume</th>
            <th>quote_volume</th>
            <th>entry_price</th>
            <th>profit_price</th>
            <th>loss_price</th>
            <th>position_size</th>
            <th>result_trade</th>
            <th>result_profit</th>
            <th>result_loss</th>
            <th>tp</th>
            <th>sl</th>
        </tr>
    </thead>
    <tbody>
        {% for candle in candles %}
        <tr>
            <td>{{ candle.position }}</td>
            <td>{{ candle.exchange }}</td>
            <td>{{ candle.symbol }}</td>
            <td>{{ candle.interval }}</td>
            <td>{{ candle.timestamp }}</td>
            <td>{{ candle.open }}</td>
            <td>{{ candle.high }}</td>
            <td>{{ candle.low }}</td>
            <td>{{ candle.close }}</td>
            <td>{{ candle.volume }}</td>
            <td>{{ candle.quote_volume }}</td>
            <td>{{ candle.entry_price }}</td>
            <td>{{ candle.profit_price }}</td>
            <td>{{ candle.loss_price }}</td>
            <td>{{ candle.position_size }}</td>
            <td>{{ candle.result_trade }}</td>
            <td>{{ candle.result_profit }}</td>
            <td>{{ candle.result_loss }}</td>
            <td>{{ candle.tp_per }}</td>
            <td>{{ candle.sl_per }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}