{% extends "base.html" %}

{% block title %}Candle{% endblock %}

{% block content %}
<p><a href="/strategy">Strategy</a></p>

<table border="1">
    <thead>
        <tr>
            <th>position</th>
            <th>exchange</th>
            <th>symbol</th>
            <th>interval</th>
            <th>timestamp</th>
            <th>open</th>
            <th>high</th>
            <th>low</th>
            <th>close</th>
            <th>volume</th>
            <th>quote_volume</th>
            <th>entry_point</th>
        </tr>
    </thead>
    <tbody>
        {% for candle in candles %}
        <tr>
            <td>{{ candle.position }}</td>
            <td>{{ candle.exchange }}</td>
            <td>{{ candle.symbol }}</td>
            <td>{{ candle.interval }}</td>
            <td>{{ candle.timestamp }}</td>
            <td>{{ candle.open }}</td>
            <td>{{ candle.high }}</td>
            <td>{{ candle.low }}</td>
            <td>{{ candle.close }}</td>
            <td>{{ candle.volume }}</td>
            <td>{{ candle.quote_volume }}</td>
            <td>{{ candle.entry_point }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}