{% extends "base.html" %}

{% block title %}Strategy{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<p>{{ total_profit }}</p>
<table border="1">
    <thead>
        <tr>
            <th>№</th>
            <th>exchange</th>
            <th>symbol</th>
            <th>profit</th>
        </tr>
    </thead>
    <tbody>
        {% for (index, candle) in candles %}
        <tr>
            <td>{{ index }}</td>
            <td>{{ candle.exchange }}</td>
            <td><a href="/strategy/{{ candle.symbol }}">{{ candle.symbol }}</a></td>
            <td>{{ candle.profit }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}