{% extends "base.html" %}

{% block title %}SendOrders{% endblock %}

{% block content %}
<p><a href="/">Home</a></p>
<h2>SendOrders</h2>
<table>
    <thead>
        <tr>
            <th>updated_at</th>
            <th>exchange</th>
            <th>symbol</th>
            <th>side</th>
            <th>size</th>
            <th>funds</th>
            <th>price</th>
            <th>time_in_force</th>
            <th>order_type</th>
            <th>auto_borrow</th>
            <th>auto_repay</th>
            <th>client_oid</th>
            <th>order_id</th>
        </tr>
    </thead>
    <tbody>
        {% for event in sendorders %}
        <tr>
            <td>{{ event.updated_at }}</td>
            <td>{{ event.exchange }}</td>
            <td>{{ event.symbol }}</td>
            <td>{{ event.side }}</td>
            <td>
                {% if let Some(size) = event.size %}
                {{ size }}
                {% endif %}
            </td>
            <td>
                {% if let Some(funds) = event.funds %}
                {{ funds }}
                {% endif %}
            </td>
            <td>{{ event.price }}</td>
            <td>{{ event.time_in_force }}</td>
            <td>{{ event.order_type }}</td>
            <td>{{ event.auto_borrow }}</td>
            <td>{{ event.auto_repay }}</td>
            <td>{{ event.client_oid }}</td>
            <td>
                {% if let Some(order_id) = event.order_id %}
                {{ order_id }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div class="pin_time">{{ elapsed_ms }} ms</div>
{% endblock %}